body {
  background-color: teal;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.start-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px !important;
  font-weight: bold;
  font-size: 12px;
  min-width: 40px;
}

.start-button img {
  margin-right: 4px;
}

.icon-button {
  color: white;
  display: flex;
  width: 80px;
  align-items: center;
  flex-direction: column;
}

.icon-button p {
  margin-top: 6px;
}

.icon-button p,
.icon-button img {
  pointer-events: none;
}

.window-body-white {
  background: white;
  padding: 10px 0;
  margin: 1px;
}
